In [2]:
# Importing pandas
import pandas as pd
import matplotlib.pyplot as plt

# Reading the data set
df = pd.read_csv("cookie_cats.csv")

# Showing the first few rows
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [3]:
# The distribution of game rounds

# Counting the number of players for each number of gamerounds 
plot_df = df.groupby("sum_gamerounds")["userid"].count()

In [6]:
pd.DataFrame(plot_df.head(100))

                userid
sum_gamerounds
0                 3994
1                 5538
2                 4606
3                 3958
4                 3629
...                ...
95                 161
96                 135
97                 137
98                 139
99                 133

[100 rows x 1 columns]

In [ ]:
def plot_linechart(df):
    plot_df = df.groupby("sum_gamerounds")["userid"].count()
    data_chart = pd.DataFrame(plot_df.head(100))
    #fig = plt.figure()
    return st.line_chart(data_chart)
    # plt.title("The distribution of players", fontweight="bold", size=14)
    # plt.xlabel("total gamerounds", size=12)
    # plt.ylabel("number of player", size=12)
    # plt.show()


    # return st.pyplot(fig)